
body{
  background: #1A6EB2;
  display: flex;
  height: 100vh;
}

.wrap{
  margin: auto;
  width: 75%;
}

svg{
  display: block;
  padding: 2em;
}

rect, path, line, circle{
  transform-origin: center;
}


@keyframes bow{
  from
  {
      transform: rotate(0);
  }
  50%
  {
      transform: rotate(2.5deg) translateY(1%);
  }
  to
  {
      transform: rotate(5deg);
  }
}

@keyframes bubble {
from {
    transform: translateX(0);
}
to {
    transform: translateX(10%);
}
}

@keyframes bubbleAlt{
  from
  {
      transform: translateY(0);
  }
      to
      {
          transform: translateY(-20%);
      }
  }

@keyframes recede{
  from
  {
      transform: scale(1, 1);
  }
  to
  {
    transform: scale(0.95, 1);
  }
  }

@keyframes swan{
  from
  {
      transform: translateY(0);
  }
      to
      {
          transform: translateY(1%);
  }
}


@keyframes wave{
  from
  {
      transform: rotate(0);
  }
      10%
      {
          transform: rotate(4deg);
      }
      20%
      {
          transform: rotate(0);
      }
      30%
      {
          transform: rotate(2deg);
      }
      40%
      {
          transform: rotate(0);
      }
      to
      {
          transform: rotate(0);
      }
  }


.swan-bubble{
  animation: bubble 3s linear alternate infinite;
  animation: bubble 3s linear alternate infinite;
}

.swan-bubble--2{
  animation-delay: 3s ;
}

.swan-bubble--3{
  animation-delay: -2s ;
}

.swan-bubble--4{
  animation-name: bubbleAlt;
  animation-duration: 3s ;
}


.swan{
  animation: swan 2s  linear alternate infinite;
}

.swan-head{
  animation: bow 2s  linear alternate infinite;
    transform-origin:80% 100%;
}


.swan-wing{
  animation: wave 8s  linear infinite;
}


.swan-water{
  animation: recede 9s  linear alternate infinite;
   }

























